<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainFolderPath" value="C:\windowsformapp"/>
    <add key="ResultFilesPath" value="C:\windowsformapp\Results\"/>
    <add key="ReportFilesPath" value="C:\windowsformapp\Reports\"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>